.appcontainer{
  display: flex;
} 

.content{
  width: 100%;
}

.sidebar{
  height: 1100px;
}

.hastag{
  margin: 0px 3px;
}

.card{
  margin: 20px 25px;
  
}

.reactions{
  margin: 10px 0 0 0 ;
}

.createpost{
  width: 70%;
  margin: 50px;
}